.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px var(--primary);
  padding: 1rem 2rem;
}

.heading {
  font-weight: 900;
  font-size: 1.7rem;
}

.main {
  padding: 0 12rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3.5rem;
}
