.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.list_of_notes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
}
